/* The Commentia CSS file used for theming the comment section */

.commentia-comments_container * {
    margin: 0;
    font-size: 1em;
    font-family: inherit;
}
.commentia-comments_container button,
.commentia-login_form input[type=submit],
.commentia-logout_form input[type=submit],
.commentia-signup_form input[type=submit] {
    -webkit-appearance: none;
    margin: 0;
    padding: 6px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
}
.commentia-login_form table, .commentia-login_form form,
.commentia-logout_form table, .commentia-logout_form form,
.commentia-signup_form table, .commentia-signup_form form {
    width: 100%;
    max-width: 350px;
    white-space: nowrap;
}
.commentia-login_form input[type=text],
.commentia-login_form input[type=password],
.commentia-login_form input[type=email],
.commentia-logout_form input[type=text],
.commentia-logout_form input[type=password],
.commentia-logout_form input[type=email],
.commentia-signup_form input[type=text],
.commentia-signup_form input[type=password],
.commentia-signup_form input[type=email] {
    width: 100%;
    box-sizing: border-box;
}
.commentia-comments_container button {
    background-color: #adf;
    width: 100%;
}
.commentia-comments_container button:hover {
    background-color: #9ce;
}
.commentia-comments_container button:active {
    background-color: #8bd;
}
.commentia-comments_container {
    background: #ededed;
    padding: 4px;
    overflow: auto;
}
.commentia-comments_container textarea {
    min-height: 50px;
    max-height: 800px;
    width: 100%;
    box-sizing: border-box;
}
.commentia-comment {
    border-style: solid;
    border-color: #ccc;
    border-width: 2px 0 2px 8px;
    border-radius: 12px 0 0 12px;
    margin: 4px 2px 2px 2px;
    padding: 4px 4px 0 4px;
}
.commentia-comment_info {
    height: 3.1em;
    padding: 0 5px 5px;
}
.commentia-comment_by, .commentia-comment_timestamp {
    font-size: 0.8em;
    float: left;
    line-height: 1;
    padding: 1.44em 1.44em 1.44em 0;
}
.commentia-member_avatar {
    height: 100%;
    float: left;
    margin-right: 12px;
}
.commentia-comment_content, .commentia-edit_area {
    clear: both;
    margin: 0 0 15px;
    padding: 2px;
    border-width: 1px 0 1px;
    border-color: #ccc;
    border-style: solid;
}
.commentia-edit_area {
    display: none;
}
.commentia-edit_area button, .commentia-reply_area button {
    width: auto !important;
    margin: 4px;
}
.commentia-edit_area textarea {
    width: 100%;
    margin: 2px;
}
.commentia-comment_content p {
    margin-top: 10px;
}
.commentia-comment_content h1, .commentia-comment_content h2,
.commentia-comment_content h3, .commentia-comment_content h4,
.commentia-comment_content h5, .commentia-comment_content h6 {
    margin: 15px 2px 5px;
}
.commentia-comment_content blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 8px;
    border-left: 4px solid #888;
}
.commentia-comment_controls {
    margin: 6px;
}
.commentia-comment_controls a {
    padding: 3px;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    background-color: #adf;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000000;
    margin: 0 4px 0 0;
}
.commentia-comment_controls a:hover {
    background-color: #9ce;
}
.commentia-comment_controls a:active {
    background-color: #8bd;
}
.commentia-new_comment_area {
    margin: 2px;
}
.commentia-new_comment_area h4 {
    margin: 15px 2px 5px;
}
#comment-box {
    min-height: 50px;
    max-height: 800px;
    width: 100%;
    box-sizing: border-box;
}
.commentia-login_form input[type=submit] {
    background-color: #bfa;
}
.commentia-login_form input[type=submit]:hover {
    background-color: #ae9;
}
.commentia-login_form input[type=submit]:active {
    background-color: #9d8;
}
.commentia-signup_form input[type=submit] {
    background-color: #fea;
}
.commentia-signup_form input[type=submit]:hover {
    background-color: #ed9;
}
.commentia-signup_form input[type=submit]:active {
    background-color: #dc8;
}
.commentia-logout_form input[type=submit] {
    background-color: #fca;
}
.commentia-logout_form input[type=submit]:hover {
    background-color: #eb9;
}
.commentia-logout_form input[type=submit]:active {
    background-color: #da8;
}
