/* The Commentia CSS file used for theming the comment section */

/* =GENERAL STYLES FOR CONTROLS AND TABLES= */
.commentia__comments-container button,
.commentia__login-form input[type=submit],
.commentia__logout-form input[type=submit],
.commentia__signup-form input[type=submit] {
    -webkit-appearance: none;
    margin: 0;
    padding: 6px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
}
.commentia__login-form table, .commentia__login-form form,
.commentia__logout-form table, .commentia__logout-form form,
.commentia__signup-form table, .commentia__signup-form form {
    width: 100%;
    max-width: 350px;
    white-space: nowrap;
}
.commentia__login-form input[type=text],
.commentia__login-form input[type=password],
.commentia__login-form input[type=email],
.commentia__logout-form input[type=text],
.commentia__logout-form input[type=password],
.commentia__logout-form input[type=email],
.commentia__signup-form input[type=text],
.commentia__signup-form input[type=password],
.commentia__signup-form input[type=email] {
    width: 100%;
    box-sizing: border-box;
}

/* =GENERAL STYLES FOR WHOLE COMMENTS CONTAINER= */
.commentia__comments-container * {
    margin: 0;
    font-size: 1em;
    font-family: inherit;
}
.commentia__comments-container button {
    background-color: #adf;
    width: 100%;
}
.commentia__comments-container button:hover {
    background-color: #9ce;
}
.commentia__comments-container button:active {
    background-color: #8bd;
}
.commentia__comments-container {
    background: #ededed;
    padding: 4px;
    overflow: auto;
}
.commentia__comments-container textarea {
    min-height: 50px;
    max-height: 800px;
    width: 100%;
    box-sizing: border-box;
}

/* ==COMMENT STYLES== */
.commentia-comment {
    overflow: auto;
    clear: both;
    border-style: solid;
    border-color: #ccc;
    border-width: 2px 0 2px 8px;
    border-radius: 12px 0 0 12px;
    margin: 4px 2px 2px 2px;
    padding: 4px 4px 0 4px;
}

/* ===COMMENT INFO UI ELEMENTS STYLES=== */
.commentia-comment-info {
    height: 3.1em;
    padding: 0 5px 5px;
}
.commentia-comment-info__by, .commentia-comment-info__timestamp {
    font-size: 0.8em;
    float: left;
    line-height: 1;
    padding: 1.44em 1.44em 1.44em 0;
}
.commentia-comment-info__member-avatar {
    height: 100%;
    float: left;
    margin-right: 12px;
}

/* ===COMMENT EDIT AREA STYLES=== */
.commentia-comment__content, .commentia-comment__edit-area {
    clear: both;
    padding: 2px;
    border-width: 1px 0 1px;
    border-color: #ccc;
    border-style: solid;
}
.commentia-comment__edit-area {
    display: none;
}
.commentia-comment__edit-area button, .commentia-comment__reply-area button {
    width: auto !important;
    margin: 4px;
}
.commentia-comment__edit-area textarea {
    width: 100%;
    margin: 2px;
}

/* ===COMMENT CONTENT STYLES=== */
.commentia-comment__content p {
    margin-top: 10px;
}
.commentia-comment__content h1, .commentia-comment__content h2,
.commentia-comment__content h3, .commentia-comment__content h4,
.commentia-comment__content h5, .commentia-comment__content h6 {
    margin: 15px 2px 5px;
}
.commentia-comment__content blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 8px;
    border-left: 4px solid #888;
}

/* ===COMMENT CONTROLS STYLES=== */
.commentia-comment-controls {
    margin: 10px;
    float: left;
}
.commentia-comment-controls a {
    padding: 3px;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    background-color: #adf;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000000;
    margin: 0 4px 0 0;
}
.commentia-comment-controls a:hover {
    background-color: #9ce;
}
.commentia-comment-controls a:active {
    background-color: #8bd;
}
.commentia-rating-controls {
    width: 16px;
    height: 30px;
    margin: 5px;
    position: relative;
    float: left;
}
.commentia-rating-controls__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.commentia-rating-controls__arrow--up {
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #000 transparent;
    top: 0;
}
.commentia-rating-controls__arrow--down {
    border-width: 10px 8px 0 8px;
    border-color: #000 transparent transparent transparent;
    bottom: 0;
}
.commentia-rating-indicator {
    margin: 10px 0 0 0;
    float: left;
}

/* ==NEW COMMENT AREA STYLES== */
.commentia__new-comment-area {
    margin: 2px;
}
.commentia__new-comment-area h4 {
    margin: 15px 2px 5px;
}
#comment-box {
    min-height: 50px;
    max-height: 800px;
    width: 100%;
    box-sizing: border-box;
}

/* =LOGIN FORM STYLES= */
.commentia__login-form input[type=submit] {
    background-color: #bfa;
}
.commentia__login-form input[type=submit]:hover {
    background-color: #ae9;
}
.commentia__login-form input[type=submit]:active {
    background-color: #9d8;
}

/* =LOGOUT FORM STYLES= */
.commentia__logout-form input[type=submit] {
    background-color: #fca;
}
.commentia__logout-form input[type=submit]:hover {
    background-color: #eb9;
}
.commentia__logout-form input[type=submit]:active {
    background-color: #da8;
}

/* =SIGNUP FORM STYLES */
.commentia__signup-form input[type=submit] {
    background-color: #fea;
}
.commentia__signup-form input[type=submit]:hover {
    background-color: #ed9;
}
.commentia__signup-form input[type=submit]:active {
    background-color: #dc8;
}
